body {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#header {
  width: 100%;
}
#playerDiv {
  color: ghostwhite;
  font-size: 18px;
}

#opp-board-message {
  text-align: center;
  color: ghostwhite;
}

td {
  opacity: 20%;
  border: 2px solid black;
  background-color: grey;
  width: 50px;
  height: 50px;
}
.PlayBoard {
  cursor: pointer;
  float: left;
}
.OppBoard {
  cursor: url(bomb.png), default;
  float: right;
}
.highlight{
  background-color: silver;
}
td.hit {
  background-color: darkred;
  width: 50px;
  height: 50px;
}
td.miss {
  background-color: blue;
  width: 50px;
  height: 50px;
}
.ship{
  background-color: black;
}
button {
  margin-top: 19.5%;
  height: 30px;
  background-color: darkgray;
}

button#addPlayer {
  margin-top: 0px;
}
